<ion-app>
  <ion-menu contentId="menu-content">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Legislações</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-button href="/tasks">
          <ion-icon slot="icon-only" name="bookmarks"> </ion-icon>
          Legislações
        </ion-button>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu-content"></ion-router-outlet>
</ion-app>

<ion-card>
  <ion-item>
    <ion-icon name="school" slot="start" color="success"></ion-icon>
    <ion-card-subtitle>{{ campus.nome }}</ion-card-subtitle>
  </ion-item>
  <ion-card-content>{{ campus.endereco }}</ion-card-content>
</ion-card>
