<ion-content padding>




  <ion-grid>
    <ion-row justify-content-center>
      <ion-col
        size-sm="8"
        size-md="4"
        size-lg="3"
        size-xl="3"
      >
        <!-- <h1 text-center>
        <ion-img
          style="width: 200px; height: 200px;"
          src="assets/imagens/logo_lenine.png"
        ></ion-img>
      </h1> -->


        <h1 text-center>
          <ion-icon
            name="done-all"
            color="success"
            class="icon-7em"
          ></ion-icon>
        </h1>




        <form
          [formGroup]="authForm"
          (submit)="onSubmit(authProviders.Email)"
        >




          <ng-container *ngIf="!configs.isSignIn">
            <ion-item>
              <ion-icon
                name="person"
                color="success"
                slot="start"
              ></ion-icon>
              <ion-input
                type="text"
                placeholder="Name"
                formControlName="name"
              ></ion-input>
              <ion-note
                slot="end"
                color="danger"
                *ngIf="name.dirty && name.hasError('required')"
              >
                Required
              </ion-note>
              <ion-note
                slot="end"
                color="danger"
                *ngIf="name.dirty && name.hasError('minlength')"
              >
                Min 3 characters
              </ion-note>
            </ion-item>
          </ng-container>


          <ion-item>
            <ion-icon
              name="mail"
              color="success"
              slot="start"
            ></ion-icon>




            <ion-input
              type="email"
              placeholder="Email"
              formControlName="email"
              inputmode="email"
              autofocus="true"
            ></ion-input>
            <ion-note
              slot="end"
              color="danger"
              *ngIf="email.dirty && email.hasError('required')"
            >
              Required
            </ion-note>
            <ion-note
              slot="end"
              color="danger"
              *ngIf="email.dirty && email.hasError('email')"
            >
              Invalid email
            </ion-note>
          </ion-item>




          <ion-item>
            <ion-icon
              name="lock"
              color="success"
              slot="start"
            ></ion-icon>




            <ion-input
              type="password"
              placeholder="Password"
              formControlName="password"
            ></ion-input>
            <ion-note
              slot="end"
              color="danger"
              *ngIf="password.dirty && password.hasError('required')"
            >
              Required-9
            </ion-note>
            <ion-note
              slot="end"
              color="danger"
              *ngIf="password.dirty && password.hasError('minlength')"
            >
              Min 6 characters
            </ion-note>
          </ion-item>




          <ion-button
            expand="block"
            type="submit"
            [disabled]="authForm.invalid"
            color=success
          >
            {{ configs.action }}
          </ion-button>
        </form>




        <ion-button
          expand="block"
          fill="clear"
          (click)="changeAuthAction()"
        >
          {{ configs.actionChange }}
        </ion-button>
        <ion-button
          expand="block"
          (click)="onSubmit(authProviders.Facebook)"
          color=success
        >
          <ion-icon
            name="logo-facebook"
            slot="start"
          ></ion-icon>
          Login with Facebook
        </ion-button>




      </ion-col>
    </ion-row>
  </ion-grid>







</ion-content>
