<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-toggle>
        <ion-button>
          <ion-icon name="menu" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Seja bem-vindo!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Este aplicativo auxilia o acompanhamento e interação ao processo de transformação inclusiva
      nas Instituições Federais da região.
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="campus$ | async as campus_s">
    <ng-container *ngIf="campus_s.length > 0; else semCampus">
      <app-campus-card *ngFor="let campus of campus_s" [campus]="campus"> </app-campus-card>
    </ng-container>
    <ng-template #semCampus>
      <ion-item lines="none">Sem Instituições...</ion-item>
    </ng-template>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpineet="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
