<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Instituição</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="assets/imagens/foto_campus_sapiranga.jpg"></ion-img>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Instituto Federal Câmpus Sapiranga</ion-card-title>
      <ion-card-title>Nível acessibilidade</ion-card-title>
    </ion-card-header>

      <!--Lista com as acessibilidades-->
      <ion-list>
        <ion-item>
          <ion-icon slot=start name=checkbox-outline color=success></ion-icon>
          <ion-label>Interprete de Libras</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot=start name=checkbox-outline color=success></ion-icon>
          <ion-label>Ensino bilingue</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot=start name=checkbox-outline color=success></ion-icon>
          <ion-label>Sinalização na escola</ion-label>
        </ion-item>
      </ion-list>
      <!--------------------------------->
    <ion-card-content>
       <ion-list>
        <ion-item>
          <ion-icon slot=start name=school color=dark></ion-icon>
          <ion-label>Instituto Federal de Educação Ciencia e Tecnologia Câmpus Sapiranga</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot=start name=mail color=dark></ion-icon>
          <ion-label>sapiranga@ifsul.edu.br</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon slot=start name=pin color=dark></ion-icon>
          <ion-label>Av. Carlos Gilberto Weis, 155 - Quatro Colônias, Sapiranga - RS, 93804-870</ion-label>
        </ion-item>
         <ion-item>
          <ion-icon slot=start name=call color=dark></ion-icon>
          <ion-label>(51) 3599-7600</ion-label>
        </ion-item>
      </ion-list>
      <ion-button color=success expand=block>Solicitar Melhoria</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
