<ion-split-pane
  contentId="menu-content"
  when="md"
>



  <ion-menu
    contentId="menu-content"
    menuId="main-menu"
    [disabled]="true"
  >



    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Teste</ion-title>
      </ion-toolbar>
    </ion-header>



    <ion-content>
      <ion-list>
        <ion-list-header *ngIf="user">{{ user.displayName }}</ion-list-header>
        <ion-menu-toggle autoHide="false">
          <ion-item
            button
            *ngFor="let page of pages"
            [routerLink]="page.url"
            [routerDirection]="page.direction"
          >
            <ion-icon
              slot="start"
              [name]="page.icon"
            ></ion-icon>
            <ion-label>{{ page.text }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>



  </ion-menu>



  <ion-router-outlet id="menu-content"></ion-router-outlet>



</ion-split-pane>
